<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav class="menu">
  <ul class="lista">
    <h1>Angular Router App</h1>
    <ul><a routerLink="/usuario-mostrar" routerLinkActive="active">Usuarios Registrados</a></ul>
    <ul><a routerLink="/cpanel" routerLinkActive="active">Panel Administrador</a></ul>
    <ul><a routerLink="/usuario-registro" routerLinkActive="active">Usuarios</a></ul>

  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
