<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->

<header>
  <a href="#" class="logo">ParlerBook</a>
  <nav class="site-nav">
  <ul>
    <li><a routerLink="/usuario-mostrar" routerLinkActive="active">Usuarios Registrados</a></li>
    <li><a routerLink="/cpanel" routerLinkActive="active">Panel Administrador</a></li>
    <li><a routerLink="/usuario-registro" routerLinkActive="active">Usuarios</a></li>
  </ul>
</nav>
</header>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>


