.contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 1rem 2.5rem;;
  background:rgba(0, 0, 0, 0.4);;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.contenedor p{
  margin-top: -10px;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(235, 235, 235);

  font-weight: 800;

}

.imagen
{
  border-radius: 50px;
}

.submit-btn{
  cursor: pointer;

  border: none;
  border-radius: 8px;

  box-shadow: 2px 2px 7px #38d39f70;

  background: #38d39f;
  color: rgba(255, 255, 255, 0.9);

  width: 200px;
  height: 30px;

  transition: all 1s;
}


.submit-btn:hover {
  color: rgb(56, 56, 56);

  box-shadow: none;
}
