
      <div *ngFor="let usuario of item" class="contenedor">

        <div class="card">
          <p><img class="imagen" src="https://avatars.dicebear.com/api/initials/'{{usuario.foto}}'.svg" alt="100" height="100" width="100"></p>

          <p class="nombre"> {{ usuario.usuario }}</p>

              <ng-template [ngIf]="show && usuario.usuario == usact ">
              <p class="dato">{{usuario.nombre}}</p>
              <p class="dato"> {{usuario.apellido}}</p>
              <p class="dato">  {{usuario.edad}}</p>
              <p class="dato"> {{usuario.descripcion}}</p>
              <p class="dato">{{usuario.correo}}</p>
              <p class="dato">{{usuario.contrasena}}</p>
            </ng-template>


          <button class="mostrar" (click)="show = !show; usact = usuario.usuario; " class="submit-btn">Mostrar Datos</button>


        </div>


      </div>





