<form (ngSumbit)="registro()" novalidate >
  <p>Usuario</p>
  <input type="text" placeholder="Ejemplo: UsuarioX" [(ngModel)]="this.regla.usuario" name="usuario" >
  <p>Nombre</p>
  <input type="text" placeholder="Ejemplo: Paco" [(ngModel)]="this.regla.nombre" name="nombre">
  <p>Apellido</p>
  <input type="text" placeholder="Ejemplo: Díaz" [(ngModel)]="this.regla.apellido" name="apellido">
  <p>Edad</p>
  <input type="text" placeholder="Ejemplo: 23" [(ngModel)]="this.regla.edad" name="edad">
  <p>Descripcion</p>
  <input type="text" placeholder="Ejemplo: Me gusta la música" [(ngModel)]="this.regla.descripcion" name="descripcion">
  <p>Correo</p>
  <input type="text" placeholder="Ejemplo: Me gusta la música" [(ngModel)]="this.regla.correo" name="descripcion">
  <p>Contraseña</p>
  <input type="text" placeholder="Ejemplo: Me gusta la música" [(ngModel)]="this.regla.contrasena" name="descripcion">
  <p>Confirmar</p>
  <input type="text" placeholder="Ejemplo: Me gusta la música" [(ngModel)]="conf_contr" name="descripcion">
  <br>
  <input type="submit" value="Registrar" (click)="realizar()">

  <br>
  <br>

<br>
<br>
<div *ngFor="let usuario of pers">

  <p> {{ usuario.usuario }}</p>
    <p>{{usuario.nombre}}</p>
    <p> {{usuario.apellido}}</p>
    <p>  {{usuario.edad}}</p>
    <p><img src="https://avatars.dicebear.com/api/initials/'{{usuario.foto}}'.svg" alt="50" height="50" width="50"></p>
    <p> {{usuario.descripcion}}</p>
    <p>{{usuario.correo}}</p>
    <p>{{usuario.contrasena}}</p>



  <button (click)="del_usr(usuario)">Eliminar</button>




</div>
