<form (ngSumbit)="registro()" novalidate >
  <p>Usuario</p>
  <input type="text" placeholder="Usuario" [(ngModel)]="this.regla.usuario" name="usuario" >
  <p>Nombre</p>
  <input type="text" placeholder="Nombre" [(ngModel)]="this.regla.nombre" name="nombre">
  <p>Apellido</p>
  <input type="text" placeholder="Apellido" [(ngModel)]="this.regla.apellido" name="apellido">
  <p>Edad</p>
  <input type="text" placeholder="Edad" [(ngModel)]="this.regla.edad" name="edad">


  <br>
  <br>

  <!--<p>Nombre</p>
  <input type="text" placeholder="Nombre">
  <p>Apellido</p>
  <input type="text" placeholder="Apellido">
  <p>Edad</p>
  <input type="text" placeholder="Edad">
  <p>Foto</p>
  <input type="file">
  <p>Sexo</p>
  <input type="radio" name="sexo" value="hombre" id="hombre">
  <label for="hombre">Hombre</label><br>
  <input type="radio" name="sexo" value="mujer" id="mujer">
  <label for="mujer">Mujer</label><br>

  <p>Descripcion</p>
  <input type="text" placeholder="Descripcion">
  <p>Correo</p>
  <input type="text" placeholder="Correo">
  <p>Contraseña</p>
  <input type="password" placeholder="********">
  <p>Confirmar Contraseña</p>
  <input type="password" placeholder="********">
  <br>
  <label for="condiciones">Aceptar Condiciones</label>
  <input type="checkbox" value="condiciones"> -->
  <br>
  <input type="submit" value="Registrar" (click)="realizar()">


</form>

<br>
<br>
<li *ngFor="let nombre_heroe of pers">
  {{ nombre_heroe.usuario }}
  {{nombre_heroe.nombre}}
  {{nombre_heroe.apellido}}
  {{nombre_heroe.edad}}
  <img src="https://avatars.dicebear.com/api/initials/'{{nombre_heroe.foto}}'.svg" alt="50" height="50" width="50">


</li>
